:root {
    --yellow: #E0AB2B;
    --yellow-alt: #e6a100;
    --black: #151515;
    --white: #FBFBFB;
    --light-grey: #424242;
    --dark-grey: #353333;
    --transition: 0.3s;
    --padding: 100px
}